.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.login_container .field .buttonSubmit{
    margin-left: 50px;
    margin-right: 50px;
}

.login_container {
    width: 330px;
    height: 430px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.buttonSubmit{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}